Repository MinBZK/NeRDS: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-richtlijnen, validate-actions

validate-richtlijnen:
  name: Validate NeRDS richtlijn files
  entry: python scripts/validate_richtlijn.py
  language: system
  pass_filenames: false

validate-actions:
  name: Validate actions.yaml registry
  entry: python scripts/validate_actions.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml
  - jsonschema

feat: afzender en links naar de Nederlandse Digitale Dienst
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/config.yml
  .github/pull_request_template.md
  .github/workflows/preview.yml
  CONTRIBUTING.md
  README.md
  docs/Over-NeRDS/copyright.md
  docs/Over-NeRDS/index.md
  docs/Over-NeRDS/privacy.md
  docs/index.md
  mkdocs.yml
  scripts/behavior-surface.json
  skills/nerds/SKILL.md
  src/hooks/security_txt.py
  src/theme/assets/feedback.js
  src/theme/partials/footer.html
  src/theme/partials/header.html
Due: none

ci: workflows vragen zelf de rechten die ze nodig hebben
  .github/workflows/a11y.yml
  .github/workflows/main.yml
  .github/workflows/preview.yml
Due: none

Deploy preview for PR 407 🛫
  pr-preview/pr-407/search/search_index.json
  pr-preview/pr-407/version/index.html
Due: none

Afzender en links naar de Nederlandse Digitale Dienst (#407)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/config.yml
  .github/pull_request_template.md
  .github/workflows/a11y.yml
  .github/workflows/main.yml
  .github/workflows/preview.yml
  CONTRIBUTING.md
  README.md
  docs/Over-NeRDS/copyright.md
  docs/Over-NeRDS/index.md
  docs/Over-NeRDS/privacy.md
  docs/index.md
  mkdocs.yml
  scripts/behavior-surface.json
  skills/nerds/SKILL.md
  src/hooks/security_txt.py
  src/theme/assets/feedback.js
  src/theme/partials/footer.html
  src/theme/partials/header.html
Due: none

chore: afhankelijkheden via uv, zonder requirements.txt
  .github/dependabot.yml
  .github/workflows/a11y.yml
  .github/workflows/ci.yml
  .github/workflows/main.yml
  .github/workflows/preview.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

ci: setup-uv vastgezet op de commit van v10.2.0
  .github/workflows/a11y.yml
  .github/workflows/ci.yml
  .github/workflows/main.yml
  .github/workflows/preview.yml
Due: none

fix: replace nldoc with pdf/ua and replace vng research on gemeentes (moved source)
  docs/richtlijnen/cloud/index.md
  docs/richtlijnen/toegankelijkheid/index.md
Due: validate-richtlijnen

chore: gedragsoppervlak bijgewerkt na de vervangen links
  scripts/behavior-surface.json
Due: none

Twee dode links vervangen (#411)
  docs/richtlijnen/cloud/index.md
  docs/richtlijnen/toegankelijkheid/index.md
  scripts/behavior-surface.json
Due: validate-richtlijnen

Deploy preview for PR 410 🛫
  pr-preview/pr-410/richtlijnen/cloud/index.html
  pr-preview/pr-410/richtlijnen/toegankelijkheid/index.html
  pr-preview/pr-410/search/search_index.json
  pr-preview/pr-410/version/index.html
Due: none

Afhankelijkheden via uv, zonder requirements.txt (#410)
  .github/dependabot.yml
  .github/workflows/a11y.yml
  .github/workflows/ci.yml
  .github/workflows/main.yml
  .github/workflows/preview.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

chore: NLDD Designsysteem naar 0.8.94
  docs/Over-NeRDS/kwetsbaarheid-melden.md
  docs/index.md
  nldd-design-system.json
  scripts/check_a11y.py
  scripts/check_nldd.py
  src/hooks/action_registry.py
  src/theme/404.html
  src/theme/assets/site.css
  src/theme/main.html
  src/theme/partials/article.html
  src/theme/partials/cluster-form.html
  src/theme/partials/feedback.html
  src/theme/partials/search.html
Due: none

chore: NLDD Designsysteem naar 0.8.94 (#414)
  docs/Over-NeRDS/kwetsbaarheid-melden.md
  docs/index.md
  nldd-design-system.json
  scripts/check_a11y.py
  scripts/check_nldd.py
  src/hooks/action_registry.py
  src/theme/404.html
  src/theme/assets/site.css
  src/theme/main.html
  src/theme/partials/article.html
  src/theme/partials/cluster-form.html
  src/theme/partials/feedback.html
  src/theme/partials/search.html
Due: none

Deploy preview for PR 415 🛫
  pr-preview/pr-415/action-registry/actions.yaml
  pr-preview/pr-415/richtlijnen/gebruikersbehoeften/fases/index.html
  pr-preview/pr-415/richtlijnen/gebruikersbehoeften/index.html
  pr-preview/pr-415/richtlijnen/toegankelijkheid/fases/index.html
  pr-preview/pr-415/richtlijnen/toegankelijkheid/index.html
  pr-preview/pr-415/search/search_index.json
  pr-preview/pr-415/version/index.html
Due: none

Deploy preview for PR 415 🛫
  pr-preview/pr-415/richtlijnen/toegankelijkheid/index.html
  pr-preview/pr-415/search/search_index.json
  pr-preview/pr-415/version/index.html
Due: none

NLDD Designsysteem toevoegen aan richtlijn toegankelijkheid
  .claude-plugin/plugin.json
  .cursor-plugin/plugin.json
  .plugin/plugin.json
  docs/action-registry/actions.yaml
  docs/richtlijnen/toegankelijkheid/index.md
  scripts/behavior-surface.json
  skills/nerds-toegankelijkheid/SKILL.md
Due: validate-richtlijnen, validate-actions

Versie naar 0.2.0
  .claude-plugin/plugin.json
  .cursor-plugin/plugin.json
  .plugin/plugin.json
  pyproject.toml
  uv.lock
Due: none

Deploy preview for PR 415 🛫
  pr-preview/pr-415/search/search_index.json
  pr-preview/pr-415/version/index.html
Due: none

NLDD Designsysteem toevoegen aan richtlijn toegankelijkheid (#415)
  .claude-plugin/plugin.json
  .cursor-plugin/plugin.json
  .plugin/plugin.json
  docs/action-registry/actions.yaml
  docs/richtlijnen/toegankelijkheid/index.md
  pyproject.toml
  scripts/behavior-surface.json
  skills/nerds-toegankelijkheid/SKILL.md
  uv.lock
Due: validate-richtlijnen, validate-actions

Deployed 5f65ead with MkDocs version: 1.6.1
  search/search_index.json
  version/index.html
Due: none

Cloud-richtlijn in lijn met het cloudbeleid van 2026
  docs/action-registry/actions.yaml
  docs/richtlijnen/cloud/fases.md
  docs/richtlijnen/cloud/index.md
  scripts/behavior-surface.json
Due: validate-richtlijnen, validate-actions

Linkcheck: zoek.officielebekendmakingen.nl uitsluiten
  .github/workflows/ci.yml
Due: none

Deploy preview for PR 416 🛫
  pr-preview/pr-416/search/search_index.json
  pr-preview/pr-416/version/index.html
Due: none

Linkcheck: tweedekamer.nl en producingoss.com uitsluiten
  .github/workflows/ci.yml
Due: none

Cloud-richtlijn inkorten en hernoemen
  docs/richtlijnen/cloud/fases.md
  docs/richtlijnen/cloud/index.md
  docs/richtlijnen/duurzaamheid/index.md
  docs/richtlijnen/inkoop/index.md
  docs/richtlijnen/veiligheid/index.md
  scripts/behavior-surface.json
  skills/nerds-cloud/SKILL.md
  skills/nerds/SKILL.md
Due: validate-richtlijnen

Path conditions:
  validate-richtlijnen: any of: ^docs/richtlijnen/.*/index\.md$
  validate-actions: any of: ^docs/action-registry/actions\.yaml$
