Repository MinBZK/NeRDS: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-richtlijnen, validate-actions

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        exclude: mkdocs.yml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: detect-private-key
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--fix]
  - repo: local
    hooks:
      - id: validate-richtlijnen
        name: Validate NeRDS richtlijn files
        entry: python scripts/validate_richtlijn.py
        language: system
        files: ^docs/richtlijnen/.*/index\.md$
        pass_filenames: false
      - id: validate-actions
        name: Validate actions.yaml registry
        entry: python scripts/validate_actions.py
        language: python
        files: ^docs/action-registry/actions\.yaml$
        pass_filenames: false
        additional_dependencies: [pyyaml, jsonschema]

Gebouwde site controleren tegen de Content-Security-Policy
  .github/workflows/preview.yml
  deploy/README.md
  scripts/check_csp.py
  scripts/check_site.py
Due: none

Gebouwde site controleren tegen de Content-Security-Policy (#426)
  .github/workflows/preview.yml
  deploy/README.md
  scripts/check_csp.py
  scripts/check_site.py
Due: none

Uitrol naar productie alleen vanaf main en v-tags
  .github/workflows/main.yml
  deploy/README.md
Due: none

Uitrol naar productie alleen vanaf main en v-tags (#428)
  .github/workflows/main.yml
  deploy/README.md
Due: none

feat: één versienummer voor richtlijn, website en plugin
  .github/dependabot.yml
  .github/workflows/main.yml
  .github/workflows/pr-title.yml
  .github/workflows/preview.yml
  .pre-commit-config.yaml
  .release-please-manifest.json
  CHANGELOG.md
  CONTRIBUTING.md
  deploy/README.md
  docs/Over-NeRDS/index.md
  docs/Over-NeRDS/versies.md
  docs/index.md
  docs/version.md
  mkdocs.yml
  release-please-config.json
  scripts/behavior-surface.json
  scripts/generate_plugin.py
  src/hooks/version.py
  src/theme/partials/footer.html
Due: none

fix: bevindingen uit de review van de versie-opzet
  .github/workflows/main.yml
  CHANGELOG.md
  CONTRIBUTING.md
  docs/Over-NeRDS/index.md
  mkdocs.yml
  release-please-config.json
  src/hooks/site_version.py
Due: none

feat: de website toont het versienummer en wat er per versie is veranderd (#429)
  .github/dependabot.yml
  .github/workflows/main.yml
  .github/workflows/pr-title.yml
  .github/workflows/preview.yml
  .pre-commit-config.yaml
  .release-please-manifest.json
  CHANGELOG.md
  CONTRIBUTING.md
  deploy/README.md
  docs/Over-NeRDS/index.md
  docs/Over-NeRDS/versies.md
  docs/index.md
  docs/version.md
  mkdocs.yml
  release-please-config.json
  scripts/behavior-surface.json
  scripts/generate_plugin.py
  src/hooks/site_version.py
  src/theme/partials/footer.html
Due: none

fix: skills verwijzen rechtstreeks naar de richtlijn, zonder symlinks
  scripts/generate_plugin.py
  skills/nerds-algoritmen/SKILL.md
  skills/nerds-algoritmen/richtlijn.md
  skills/nerds-cloud/SKILL.md
  skills/nerds-cloud/fases.md
  skills/nerds-cloud/richtlijn.md
  skills/nerds-data/SKILL.md
  skills/nerds-data/richtlijn.md
  skills/nerds-duurzaamheid/SKILL.md
  skills/nerds-duurzaamheid/richtlijn.md
  skills/nerds-gebruikers/SKILL.md
  skills/nerds-gebruikers/fases.md
  skills/nerds-gebruikers/richtlijn.md
  skills/nerds-inkoop/SKILL.md
  skills/nerds-inkoop/richtlijn.md
  skills/nerds-integratie/SKILL.md
  skills/nerds-integratie/richtlijn.md
  skills/nerds-opensource/SKILL.md
  skills/nerds-opensource/fases.md
  skills/nerds-opensource/richtlijn.md
  skills/nerds-privacy/SKILL.md
  skills/nerds-privacy/richtlijn.md
  skills/nerds-samenwerking/SKILL.md
  skills/nerds-samenwerking/richtlijn.md
  skills/nerds-standaarden/SKILL.md
  skills/nerds-standaarden/richtlijn.md
  skills/nerds-toegankelijkheid/SKILL.md
  skills/nerds-toegankelijkheid/fases.md
  skills/nerds-toegankelijkheid/richtlijn.md
  skills/nerds-veiligheid/SKILL.md
  skills/nerds-veiligheid/richtlijn.md
  skills/nerds/SKILL.md
  skills/nerds/richtlijnen.md
Due: none

chore: publiccode.yml toevoegen
  publiccode.yml
Due: none

fix: elke skill bevat zijn richtlijn als echt bestand, gebouwd uit docs
  .pre-commit-config.yaml
  CONTRIBUTING.md
  justfile
  scripts/behavior-surface.json
  scripts/generate_plugin.py
  skills/nerds-algoritmen/SKILL.md
  skills/nerds-algoritmen/richtlijn.md
  skills/nerds-cloud/SKILL.md
  skills/nerds-cloud/fases.md
  skills/nerds-cloud/richtlijn.md
  skills/nerds-data/SKILL.md
  skills/nerds-data/richtlijn.md
  skills/nerds-duurzaamheid/SKILL.md
  skills/nerds-duurzaamheid/richtlijn.md
  skills/nerds-gebruikers/SKILL.md
  skills/nerds-gebruikers/fases.md
  skills/nerds-gebruikers/richtlijn.md
  skills/nerds-inkoop/SKILL.md
  skills/nerds-inkoop/richtlijn.md
  skills/nerds-integratie/SKILL.md
  skills/nerds-integratie/richtlijn.md
  skills/nerds-opensource/SKILL.md
  skills/nerds-opensource/fases.md
  skills/nerds-opensource/richtlijn.md
  skills/nerds-privacy/SKILL.md
  skills/nerds-privacy/richtlijn.md
  skills/nerds-samenwerking/SKILL.md
  skills/nerds-samenwerking/richtlijn.md
  skills/nerds-standaarden/SKILL.md
  skills/nerds-standaarden/richtlijn.md
  skills/nerds-toegankelijkheid/SKILL.md
  skills/nerds-toegankelijkheid/fases.md
  skills/nerds-toegankelijkheid/richtlijn.md
  skills/nerds-veiligheid/SKILL.md
  skills/nerds-veiligheid/richtlijn.md
  skills/nerds/SKILL.md
  skills/nerds/richtlijnen.md
Due: none

fix: een verwijzing naar een andere richtlijn noemt de skill, niet de website
  scripts/generate_plugin.py
  skills/nerds-algoritmen/richtlijn.md
  skills/nerds-cloud/fases.md
  skills/nerds-cloud/richtlijn.md
  skills/nerds-data/richtlijn.md
  skills/nerds-duurzaamheid/richtlijn.md
  skills/nerds-gebruikers/fases.md
  skills/nerds-gebruikers/richtlijn.md
  skills/nerds-inkoop/richtlijn.md
  skills/nerds-integratie/richtlijn.md
  skills/nerds-opensource/richtlijn.md
  skills/nerds-privacy/richtlijn.md
  skills/nerds-samenwerking/richtlijn.md
  skills/nerds-standaarden/richtlijn.md
  skills/nerds-toegankelijkheid/richtlijn.md
  skills/nerds-veiligheid/richtlijn.md
Due: none

fix: geen MkDocs-syntax meer in de skills, en de acties uit het register erbij
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  justfile
  scripts/generate_plugin.py
  skills/nerds-algoritmen/richtlijn.md
  skills/nerds-cloud/fases.md
  skills/nerds-cloud/richtlijn.md
  skills/nerds-data/richtlijn.md
  skills/nerds-duurzaamheid/richtlijn.md
  skills/nerds-gebruikers/fases.md
  skills/nerds-gebruikers/richtlijn.md
  skills/nerds-inkoop/richtlijn.md
  skills/nerds-integratie/richtlijn.md
  skills/nerds-opensource/fases.md
  skills/nerds-opensource/richtlijn.md
  skills/nerds-privacy/richtlijn.md
  skills/nerds-samenwerking/richtlijn.md
  skills/nerds-standaarden/richtlijn.md
  skills/nerds-toegankelijkheid/fases.md
  skills/nerds-toegankelijkheid/richtlijn.md
  skills/nerds-veiligheid/richtlijn.md
  skills/nerds/richtlijnen.md
Due: none

fix: skills noemen alleen acties uit het register die een adres hebben
  scripts/generate_plugin.py
  skills/nerds-cloud/fases.md
  skills/nerds-cloud/richtlijn.md
  skills/nerds-data/richtlijn.md
  skills/nerds-duurzaamheid/richtlijn.md
  skills/nerds-inkoop/richtlijn.md
  skills/nerds-opensource/fases.md
  skills/nerds-opensource/richtlijn.md
  skills/nerds-privacy/richtlijn.md
  skills/nerds-samenwerking/richtlijn.md
  skills/nerds-standaarden/richtlijn.md
Due: none

fix: losse sluit-tag uit de skills, en de controle ziet ook sluit-tags
  scripts/generate_plugin.py
  skills/nerds-algoritmen/richtlijn.md
  skills/nerds-data/richtlijn.md
  skills/nerds-duurzaamheid/richtlijn.md
  skills/nerds-gebruikers/richtlijn.md
  skills/nerds-inkoop/richtlijn.md
  skills/nerds-integratie/richtlijn.md
  skills/nerds-privacy/richtlijn.md
  skills/nerds-samenwerking/richtlijn.md
  skills/nerds-standaarden/richtlijn.md
  skills/nerds-veiligheid/richtlijn.md
Due: none

fix: dubbele sluit-tag uit tien richtlijnen
  .pre-commit-config.yaml
  docs/richtlijnen/algoritmen/index.md
  docs/richtlijnen/data/index.md
  docs/richtlijnen/duurzaamheid/index.md
  docs/richtlijnen/gebruikersbehoeften/index.md
  docs/richtlijnen/inkoop/index.md
  docs/richtlijnen/integratie/index.md
  docs/richtlijnen/open-standaarden/index.md
  docs/richtlijnen/privacy/index.md
  docs/richtlijnen/samenwerking/index.md
  docs/richtlijnen/veiligheid/index.md
  scripts/generate_plugin.py
Due: validate-richtlijnen

fix: de plugin bevat elke richtlijn als echt bestand, niet als symlink (#431)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/richtlijnen/algoritmen/index.md
  docs/richtlijnen/data/index.md
  docs/richtlijnen/duurzaamheid/index.md
  docs/richtlijnen/gebruikersbehoeften/index.md
  docs/richtlijnen/inkoop/index.md
  docs/richtlijnen/integratie/index.md
  docs/richtlijnen/open-standaarden/index.md
  docs/richtlijnen/privacy/index.md
  docs/richtlijnen/samenwerking/index.md
  docs/richtlijnen/veiligheid/index.md
  justfile
  scripts/behavior-surface.json
  scripts/generate_plugin.py
  skills/nerds-algoritmen/richtlijn.md
  skills/nerds-cloud/fases.md
  skills/nerds-cloud/richtlijn.md
  skills/nerds-data/richtlijn.md
  skills/nerds-duurzaamheid/richtlijn.md
  skills/nerds-gebruikers/fases.md
  skills/nerds-gebruikers/richtlijn.md
  skills/nerds-inkoop/richtlijn.md
  skills/nerds-integratie/richtlijn.md
  skills/nerds-opensource/fases.md
  skills/nerds-opensource/richtlijn.md
  skills/nerds-privacy/richtlijn.md
  skills/nerds-samenwerking/richtlijn.md
  skills/nerds-standaarden/richtlijn.md
  skills/nerds-toegankelijkheid/fases.md
  skills/nerds-toegankelijkheid/richtlijn.md
  skills/nerds-veiligheid/richtlijn.md
  skills/nerds/richtlijnen.md
Due: validate-richtlijnen

chore: publiccode.yml toevoegen (#432)
  publiccode.yml
Due: none

fix: toegankelijkheid van thema en sjablonen
  .markdownlint.yaml
  docs/index.md
  docs/richtlijnen/cloud/fases.md
  docs/richtlijnen/gebruikersbehoeften/fases.md
  docs/richtlijnen/open-source/fases.md
  docs/richtlijnen/toegankelijkheid/fases.md
  docs/version.md
  mkdocs.yml
  scripts/behavior-surface.json
  scripts/generate_plugin.py
  skills/nerds-cloud/fases.md
  skills/nerds-gebruikers/fases.md
  skills/nerds-opensource/fases.md
  skills/nerds-toegankelijkheid/fases.md
  src/hooks/action_registry.py
  src/hooks/nldd_content.py
  src/theme/404.html
  src/theme/assets/feedback.js
  src/theme/assets/site.css
  src/theme/main.html
  src/theme/partials/feedback.html
  src/theme/partials/footer.html
  src/theme/partials/header.html
Due: none

fix: toegankelijkheid van de inhoud
  .markdownlint.yaml
  CONTRIBUTING.md
  docs/Over-NeRDS/index.md
  docs/Over-NeRDS/toegankelijkheid.md
  docs/action-registry/actions.yaml
  docs/richtlijnen/algoritmen/index.md
  docs/richtlijnen/cloud/fases.md
  docs/richtlijnen/cloud/index.md
  docs/richtlijnen/data/index.md
  docs/richtlijnen/duurzaamheid/index.md
  docs/richtlijnen/gebruikersbehoeften/index.md
  docs/richtlijnen/inkoop/index.md
  docs/richtlijnen/integratie/index.md
  docs/richtlijnen/open-source/index.md
  docs/richtlijnen/open-standaarden/index.md
  docs/richtlijnen/privacy/index.md
  docs/richtlijnen/samenwerking/index.md
  docs/richtlijnen/toegankelijkheid/index.md
  docs/richtlijnen/veiligheid/index.md
  mkdocs.yml
  schemas/schema_richtlijn.json
  scripts/behavior-surface.json
  scripts/check_outline.py
  scripts/check_site.py
  skills/nerds-algoritmen/richtlijn.md
  skills/nerds-cloud/fases.md
  skills/nerds-cloud/richtlijn.md
  skills/nerds-data/richtlijn.md
  skills/nerds-duurzaamheid/richtlijn.md
  skills/nerds-gebruikers/richtlijn.md
  skills/nerds-inkoop/richtlijn.md
  skills/nerds-integratie/richtlijn.md
  skills/nerds-opensource/fases.md
  skills/nerds-opensource/richtlijn.md
  skills/nerds-privacy/richtlijn.md
  skills/nerds-samenwerking/richtlijn.md
  skills/nerds-standaarden/richtlijn.md
  skills/nerds-toegankelijkheid/richtlijn.md
  skills/nerds-veiligheid/richtlijn.md
  src/theme/partials/footer.html
Due: validate-richtlijnen, validate-actions

fix: derde link naar de Kamerbrief over de overheidscloud heet ook naar het doel
  docs/richtlijnen/cloud/index.md
  skills/nerds-cloud/richtlijn.md
Due: validate-richtlijnen

fix: paginatitel breekt alleen een woord dat niet past, en een nieuw linkveld begint zonder foutmelding
  src/theme/assets/feedback.js
  src/theme/assets/site.css
Due: none

fix: toegankelijkheid van thema en sjablonen (#434)
  .markdownlint.yaml
  docs/index.md
  docs/richtlijnen/cloud/fases.md
  docs/richtlijnen/gebruikersbehoeften/fases.md
  docs/richtlijnen/open-source/fases.md
  docs/richtlijnen/toegankelijkheid/fases.md
  docs/version.md
  mkdocs.yml
  scripts/behavior-surface.json
  scripts/generate_plugin.py
  skills/nerds-cloud/fases.md
  skills/nerds-gebruikers/fases.md
  skills/nerds-opensource/fases.md
  skills/nerds-toegankelijkheid/fases.md
  src/hooks/action_registry.py
  src/hooks/nldd_content.py
  src/theme/404.html
  src/theme/assets/feedback.js
  src/theme/assets/site.css
  src/theme/main.html
  src/theme/partials/feedback.html
  src/theme/partials/footer.html
  src/theme/partials/header.html
Due: none

fix: toegankelijkheid van de inhoud (#435)
  .markdownlint.yaml
  CONTRIBUTING.md
  docs/Over-NeRDS/index.md
  docs/Over-NeRDS/toegankelijkheid.md
  docs/action-registry/actions.yaml
  docs/richtlijnen/algoritmen/index.md
  docs/richtlijnen/cloud/fases.md
  docs/richtlijnen/cloud/index.md
  docs/richtlijnen/data/index.md
  docs/richtlijnen/duurzaamheid/index.md
  docs/richtlijnen/gebruikersbehoeften/index.md
  docs/richtlijnen/inkoop/index.md
  docs/richtlijnen/integratie/index.md
  docs/richtlijnen/open-source/index.md
  docs/richtlijnen/open-standaarden/index.md
  docs/richtlijnen/privacy/index.md
  docs/richtlijnen/samenwerking/index.md
  docs/richtlijnen/toegankelijkheid/index.md
  docs/richtlijnen/veiligheid/index.md
  mkdocs.yml
  schemas/schema_richtlijn.json
  scripts/behavior-surface.json
  scripts/check_outline.py
  scripts/check_site.py
  skills/nerds-algoritmen/richtlijn.md
  skills/nerds-cloud/fases.md
  skills/nerds-cloud/richtlijn.md
  skills/nerds-data/richtlijn.md
  skills/nerds-duurzaamheid/richtlijn.md
  skills/nerds-gebruikers/richtlijn.md
  skills/nerds-inkoop/richtlijn.md
  skills/nerds-integratie/richtlijn.md
  skills/nerds-opensource/fases.md
  skills/nerds-opensource/richtlijn.md
  skills/nerds-privacy/richtlijn.md
  skills/nerds-samenwerking/richtlijn.md
  skills/nerds-standaarden/richtlijn.md
  skills/nerds-toegankelijkheid/richtlijn.md
  skills/nerds-veiligheid/richtlijn.md
  src/theme/partials/footer.html
Due: validate-richtlijnen, validate-actions

fix: fasepagina's hebben een korte naam in het menu en in de kop
  docs/richtlijnen/cloud/fases.md
  docs/richtlijnen/gebruikersbehoeften/fases.md
  docs/richtlijnen/open-source/fases.md
  docs/richtlijnen/toegankelijkheid/fases.md
  scripts/behavior-surface.json
  skills/nerds-cloud/fases.md
  skills/nerds-gebruikers/fases.md
  skills/nerds-opensource/fases.md
  skills/nerds-toegankelijkheid/fases.md
  src/theme/assets/site.css
  src/theme/partials/sidenav.html
Due: none

fix: fasepagina's hebben een korte naam in het menu en in de kop (#437)
  docs/richtlijnen/cloud/fases.md
  docs/richtlijnen/gebruikersbehoeften/fases.md
  docs/richtlijnen/open-source/fases.md
  docs/richtlijnen/toegankelijkheid/fases.md
  scripts/behavior-surface.json
  skills/nerds-cloud/fases.md
  skills/nerds-gebruikers/fases.md
  skills/nerds-opensource/fases.md
  skills/nerds-toegankelijkheid/fases.md
  src/theme/assets/site.css
  src/theme/partials/sidenav.html
Due: none
