Repository MinBZK/NeRDS: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-richtlijnen, validate-actions

validate-richtlijnen:
  name: Validate NeRDS richtlijn files
  entry: python scripts/validate_richtlijn.py
  language: system
  pass_filenames: false

validate-actions:
  name: Validate actions.yaml registry
  entry: python scripts/validate_actions.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml
  - jsonschema

Add link implementatiekader risicoafweging
  docs/richtlijnen/cloud/fases.md
  docs/richtlijnen/cloud/index.md
Due: validate-richtlijnen

Update cloud links
  docs/richtlijnen/cloud/fases.md
  docs/richtlijnen/cloud/index.md
Due: validate-richtlijnen

Delete mike versioning
  .github/workflows/main.yml
  docs/javascripts/version-dutch.js
  docs/richtlijnen/cloud/fases.md
  docs/richtlijnen/gebruikersbehoeften/fases.md
  docs/richtlijnen/open-source/fases.md
  docs/richtlijnen/toegankelijkheid/fases.md
  mkdocs.yml
  requirements.txt
Due: none

Add volwasseneheidsscan digtiale autonomie
  docs/action-registry/actions.yaml
Due: validate-actions

fix: link-checker
  docs/Over-NeRDS/cookies.md
  docs/Over-NeRDS/copyright.md
  docs/Over-NeRDS/kwetsbaarheid-melden.md
  docs/action-registry/actions.yaml
  docs/richtlijnen/cloud/index.md
  docs/richtlijnen/gebruikersbehoeften/index.md
  docs/richtlijnen/open-source/index.md
  docs/richtlijnen/toegankelijkheid/index.md
  mkdocs.yml
  src/overrides/hooks/security_txt.py
Due: validate-richtlijnen, validate-actions

fix: link-checker2
  docs/richtlijnen/cloud/index.md
  docs/richtlijnen/toegankelijkheid/index.md
Due: validate-richtlijnen

fix: delete claude settings
  .claude/settings.local.json
Due: none

Development to Main (#161)
  .claude/settings.local.json
  .github/workflows/main.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/Over-NeRDS/cookies.md
  docs/Over-NeRDS/copyright.md
  docs/Over-NeRDS/index.md
  docs/Over-NeRDS/kwetsbaarheid-melden.md
  docs/action-registry/README.md
  docs/action-registry/action-registry-schema.json
  docs/action-registry/actions.yaml
  docs/index.md
  docs/richtlijnen/algoritmen/index.md
  docs/richtlijnen/cloud/fases.md
  docs/richtlijnen/cloud/index.md
  docs/richtlijnen/data/index.md
  docs/richtlijnen/duurzaamheid/index.md
  docs/richtlijnen/gebruikersbehoeften/fases.md
  docs/richtlijnen/gebruikersbehoeften/index.md
  docs/richtlijnen/inkoop/index.md
  docs/richtlijnen/integratie/index.md
  docs/richtlijnen/open-source/fases.md
  docs/richtlijnen/open-source/index.md
  docs/richtlijnen/open-standaarden/index.md
  docs/richtlijnen/privacy/index.md
  docs/richtlijnen/samenwerking/index.md
  docs/richtlijnen/toegankelijkheid/fases.md
  docs/richtlijnen/toegankelijkheid/index.md
  docs/richtlijnen/veiligheid/index.md
  docs/stylesheets/extra.css
  docs/stylesheets/navigation.css
  mkdocs.yml
  requirements.txt
  schemas/schema_richtlijn.json
  scripts/validate_actions.py
  src/overrides/hooks/action_registry.py
  src/overrides/hooks/security_txt.py
  src/overrides/partials/breadcrumbs.html
Due: validate-richtlijnen, validate-actions

Deployed 9225127 with MkDocs version: 1.6.1
  Over-NeRDS/CONTRIBUTING/index.html
  Over-NeRDS/cookies/index.html
  Over-NeRDS/copyright/index.html
  Over-NeRDS/index.html
  Over-NeRDS/kwetsbaarheid-melden/index.html
  Over-NeRDS/privacy/index.html
  Over-NeRDS/toegankelijkheid/index.html
  action-registry/index.html
  index.html
  richtlijnen/algoritmen/index.html
  richtlijnen/cloud/fases/index.html
  richtlijnen/cloud/index.html
  richtlijnen/data/index.html
  richtlijnen/duurzaamheid/index.html
  richtlijnen/gebruikersbehoeften/fases/index.html
  richtlijnen/gebruikersbehoeften/index.html
  richtlijnen/index.html
  richtlijnen/inkoop/index.html
  richtlijnen/integratie/index.html
  richtlijnen/open-source/fases/index.html
  richtlijnen/open-source/index.html
  richtlijnen/open-standaarden/index.html
  richtlijnen/privacy/index.html
  richtlijnen/samenwerking/index.html
  richtlijnen/toegankelijkheid/fases/index.html
  richtlijnen/toegankelijkheid/index.html
  richtlijnen/veiligheid/index.html
  search/search_index.json
  version/index.html
Due: none

feat: add handreiking it sourcing rijksbreed
  .github/workflows/main.yml
  docs/action-registry/actions.yaml
Due: validate-actions

Deploy preview for PR 179 🛫
  pr-preview/pr-179/search/search_index.json
  pr-preview/pr-179/version/index.html
Due: none

Voeg Claude Code plugin toe met 14 skills voor NeRDS richtlijnen
  .claude-plugin/plugin.json
  skills/nerds-algoritmen/SKILL.md
  skills/nerds-algoritmen/richtlijn.md
  skills/nerds-cloud/SKILL.md
  skills/nerds-cloud/fases.md
  skills/nerds-cloud/richtlijn.md
  skills/nerds-data/SKILL.md
  skills/nerds-data/richtlijn.md
  skills/nerds-duurzaamheid/SKILL.md
  skills/nerds-duurzaamheid/richtlijn.md
  skills/nerds-gebruikers/SKILL.md
  skills/nerds-gebruikers/fases.md
  skills/nerds-gebruikers/richtlijn.md
  skills/nerds-inkoop/SKILL.md
  skills/nerds-inkoop/richtlijn.md
  skills/nerds-integratie/SKILL.md
  skills/nerds-integratie/richtlijn.md
  skills/nerds-opensource/SKILL.md
  skills/nerds-opensource/fases.md
  skills/nerds-opensource/richtlijn.md
  skills/nerds-privacy/SKILL.md
  skills/nerds-privacy/richtlijn.md
  skills/nerds-samenwerking/SKILL.md
  skills/nerds-samenwerking/richtlijn.md
  skills/nerds-standaarden/SKILL.md
  skills/nerds-standaarden/richtlijn.md
  skills/nerds-toegankelijkheid/SKILL.md
  skills/nerds-toegankelijkheid/fases.md
  skills/nerds-toegankelijkheid/richtlijn.md
  skills/nerds-veiligheid/SKILL.md
  skills/nerds-veiligheid/richtlijn.md
  skills/nerds/SKILL.md
  skills/nerds/richtlijnen.md
Due: none

Fix markdownlint errors in nerds overview skill
  skills/nerds/SKILL.md
Due: none

Fix broken links and add missing richtlijn sections
  docs/action-registry/actions.yaml
  docs/richtlijnen/algoritmen/index.md
  docs/richtlijnen/data/index.md
  docs/richtlijnen/inkoop/index.md
  docs/richtlijnen/open-source/index.md
  docs/richtlijnen/open-standaarden/index.md
  docs/richtlijnen/privacy/index.md
  docs/richtlijnen/samenwerking/index.md
  docs/richtlijnen/veiligheid/index.md
Due: validate-richtlijnen, validate-actions

Fix IAMA link and exclude bot-blocked sites from link checker
  .github/workflows/ci.yml
  docs/richtlijnen/algoritmen/index.md
Due: validate-richtlijnen

Deploy preview for PR 181 🛫
  pr-preview/pr-181/richtlijnen/algoritmen/index.html
  pr-preview/pr-181/search/search_index.json
  pr-preview/pr-181/version/index.html
Due: none

Also exclude wetten.overheid.nl from link checker
  .github/workflows/ci.yml
Due: none

Path conditions:
  validate-richtlijnen: any of: ^docs/richtlijnen/.*/index\.md$
  validate-actions: any of: ^docs/action-registry/actions\.yaml$
